@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container{
    display: flex;
    flex-direction: column;
    margin-right: 109px;
    margin-left: 109px;
    font-family: 'Poppins', sans-serif;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div{
        border: 1px solid #179D14;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 286px;

    }
}

.cardList{
    display: flex;
    flex-direction: column;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 166px;
        background: white;
        border-radius: 20px;
        margin-bottom: 40px;

        img{
            width: 150px;
        }

        button{
            width: 166px;
            height: 42px;
            background: #179D14;
            border-radius: 10px;
            border: none;
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 600px;
            height: 40px;

            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    margin: 0;
                }
            }
        }

    }

}

.text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}