// Complete the following information and rename this file to credentials.hpp
#define WIFI_SSID "-----"
#define WIFI_PASSWORD "-----"
#define CLIENT_ID "-----"
#define BROKER_SERVER "-----"
#define BROKER_PORT 8883 // default port for MQTT over TLS
#define BROKER_USER "-----"
#define BROKER_PASSWORD "-----"
#define CONTRACT_ADDRESS "-----"
